.error-message {
  color: rgb(222, 15, 208);
  font-weight: 300;
  font-style: italic;
  font-size: 14px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 500px;
  margin: 0 auto;
  width: 100%;
  gap: 2px;
}
.show-password {
  cursor: pointer;
  height: 25px;
  width: 25px;
  background-color: #4f46e5;
  color: #fff;
  line-height: 1.25rem;
  position: absolute;
  right: 10px;
  bottom: 0;
}

input[type='password'] + .show-password {
  background: url(../../../public/view.png) no-repeat;
  background-size: contain;
}
input[type='text'] + .show-password {
  background: url(../../../public/hide.png) no-repeat;
  background-size: contain;
}

.password-field {
  position: relative;
}

input[type='file'] {
  color: #a1a0a0;
}
.form-item {
  min-height: 75px;
}

.input-container:has(input[type='checkbox']) {
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

#tc {
  width: fit-content;
}
.form-item:has(input[type='checkbox']) {
  min-height: 55px;
  order: 1;
}
.form-item:has(input[name='password']) {
  min-height: 90px;
}
input[name='password'],
input[name='confirmPassword'] {
  padding-right: 40px;
}
button[type='submit'] {
  width: 100%;
  order: 2;
}

.strenght {
  width: 100%;
  height: 5px;
  border-radius: 10px;
}

.strength-container {
  font-size: 14px;
  display: flex;
  width: 100%;
  align-items: center;
  gap: 10px;
}
.strength-container label {
  flex: 1 0 auto;
}
progress::-webkit-progress-bar {
  background-color: #ededed;
  border-radius: 15px;
}

progress[value]::-webkit-progress-value {
  border-radius: 15px;
  background-color: rgb(9, 167, 35);
}

input:focus {
  outline: none;
}
